{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/style/global.css",
    "tailwindAttributes": ["myClassList"],
    "tailwindFunctions": ["clsx", "tw"]
}
