#waline .wl-meta-head {
    display: none;
}

#waline {
    --waline-bg-color: color-mix(in srgb, var(--card) 96%, black);
    --waline-bg-color-light: color-mix(in srgb, var(--card) 96%, black);
    --waline-border: 1px solid var(--border);
    --waline-box-shadow: none;

    --waline-color: var(--ink);
    --waline-active-color: var(--aqua);
    --waline-theme-color: var(--aqua);
    --waline-info-color: var(--muted);
}

#waline .wl-editor {
    min-height: 0em;
}

#waline .wl-editor:focus, .wl-input:focus {
    --waline-bg-color: color-mix(in srgb, var(--card) 96%, black);
}

#waline .wl-nick {
    font-weight: bold;
}

#waline .wl-panel {
    border: 1px solid transparent;
    border-radius: 4px;
}

#waline .wl-panel:focus-within {
    border-color: var(--aqua);
}

#waline .wl-empty {
    display: none;
}

#waline .wl-meta-foot {
    display: none;
}

#waline .wl-like svg,
#waline .wl-reply svg {
    width: 16px;
    height: 16px;
}
#waline .wl-like {
    font-size: 12px;
}

#waline .wl-reply svg {
    display: none;
}

#waline .wl-reply::after {
    content: ' Reply';
    position: relative;
    top: -4px;
    margin-left: 6px;
}

#waline .wl-reply {
    font-size: 13px;
    width: auto;
    height: auto;
}

#waline .wl-nick {
    color: var(--ink);
}

/* ===== 评论编辑器附加区域 ===== */

#waline .wl-header,
#waline .wl-footer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-6px);
    pointer-events: none;

    transition:
        max-height 0.3s ease-out,
        opacity 0.1s ease,
        transform 0.3s ease-out;
}

/* 编辑器获得焦点后展开 */
#waline .wl-panel:focus-within .wl-header,
#waline .wl-panel:focus-within .wl-footer {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* 去掉底部多余空白 */
#waline .wl-header,
#waline .wl-footer {
    margin-top: 0;
    margin-bottom: 0;
}

#waline .wl-panel:focus-within .wl-header {
    margin-bottom: 0.5rem;
}

#waline .wl-panel:focus-within .wl-footer {
    margin-top: 0.5rem;
}